<h3>New Bill</h3>

<form>
	<label for="description">Description</label>
	<input type="text" name="description" id="description">

	<br />

	<label for="amount">Amount</label>
	<input type="text" name="amount" id="amount">

	<br /><br />

	<label>Share bill with:</label><br />

	<select name="billing[participant_id]">
		<option></option>
		<% _(connections).each(function(connectedUser) { %>
			<option value="<%= connectedUser.id %>">
				<%= connectedUser.email %>
			</option>
		<% }); %>
	</select>

	<br /><br />

	<input type="submit" value="Create Bill!">

	<br />

</form>

<br />
<a href="#">Never mind!</a>