<h3>New Bill</h3>

<div id="new-bill-form">
  <form>
    <label for="description">Description</label>
    <input type="text" name="description" id="description">

    <br />

    <label for="amount">Amount</label>
    <input type="text" name="amount" id="amount">

    <br /><br />

    <label>Share bill with:</label><br />

    <div id="connection_selects">
      <select name="billings_attributes[0][participant_id]">
        <%= JST['bills/_connection']({ connections: connections }) %>
      </select>
    </div>

    <br />

    <input type="submit" value="Create Bill!">

    <br />

  </form>

  <br />
  <a class="back" href="#">Back</a>
</div>