<h3>My Fellowship</h3>

<ul>
  <% connections.each(function(connectedUser) { %>
    <li><%= connectedUser.escape('email') %></li>
  <% }); %>
</ul>

<p>Add a new connection by email:</p>

<form>
  <input type="text" name="email">
  <br />
  <input type="submit" value="Connect">
</form>