<div id="payment-history">
  <h3>Payment History</h3>

  <table>
    <tr>
      <th>Time Posted</th>
      <th>Payer</th>
      <th>Recipient</th>
      <th>Amount</th>
    </tr>

    <% payments.each(function (payment) { %>
      <% var payer = connections.get(payment.get('payer_id')); %>
      <% var payer_email = (payer ? payer.get('email') : 'Me'); %>
      <% var recipient = connections.get(payment.get('recipient_id')); %>
      <% var recipient_email = (recipient ? recipient.get('email') : 'Me'); %>
      <% var d = new Date(payment.get('date') * 1000); %>
      <% var formatted_date = (d.getMonth() + 1) + "-" + d.getDate() + "-" + d.getFullYear() + "  " + d.getHours() + ":" + d.getMinutes(); %>

      <tr>
        <td><%= formatted_date %></td>
        <td><%= payer_email %></td>
        <td><%= recipient_email %></td>
        <td>$ <%= parseFloat((payment.escape('amount'))).toFixed(2) %></td>
      </tr>
    <% }); %>

  </table>

  <a href="#">Back</a>
</div>