/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

table {
	width: 400px;
	font-family: garamond;
}

table th {
	text-align: left;
	font-style: bold;
}

table th,td {
	padding: 3px 20px;
	border: 1px solid #CCC;
	margin: 0px;
}

table tr:hover {
	background-color: #DDD;
}

#content {
	float: left;
	width: 600px;
	padding-right: 25px;
	border-right: 1px solid #CCC;
}

#connections {
	float: left;
	width: 200px;
	padding-left: 25px;
}